body{
    background: #f5f5f5;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin: 0;
}

/*for all*/
.container{
    width: 80%;
    margin:auto;;
    overflow: hidden;
}

/*Header*/
header{
    background:#252525;
    color:#fff;
    border-bottom: #f8842d 3px solid;
    min-height: 70px;
    padding-top: 20px;
    
}
header li{
    float:left;
    display: inline;
    padding:0 15px 0 15px;
}
header a{
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
}
header nav{
    float:right;
}
header .focus,header .active a{
    color:#f8842d;
}
header a:hover{
    color:#ccc;
    font-weight: 500;
    
}
header #logo{
  float:left;
}
header #logo h1{
  margin:0;
}

ul{
    margin:0;
    padding: 0;
}

/* banner*/
#banner{
    background: url(img/banner.jpg) no-repeat ;
    background-size: cover;
    text-align: center;
    min-height: 400px;
    color:#fff;
}
#banner h1{
    font-size: 60px;
    margin:100px 0 20px 0;
}
#banner p{
    font-size: 25px;
}

/*subscribe us*/
#subscribe-us{
    color:#fff;
    padding:25px 0;
    background: #252525;
    border-top:#f8842d 1px solid;
    border-bottom:#f8842d 1px solid;
}
#subscribe-us h1{
  margin: 0;
  float:left
}
#subscribe-us form{
    float:right;
}
#subscribe-us input[type="email"]{
   
    padding:10px 5px;
    width:250px;
}
#subscribe-us input[type="button"]{
    background: #f8842d;
    color:#fff;
    border:none;
    padding:12px 20px;
}
#subscribe-us input[type="button"]:hover{
    background: #e5853c;
    cursor: pointer;
    font-weight: bold;
    transition: :0.5s ease;
   
}

/*boxes*/
#boxes .container{
    max-width: 100%;
    padding:30px 0;
    display: flex;
   justify-content: space-between;

}
#boxes .box{
     
   
    text-align: center;
    width:20%;
    
}
#boxes .box img{
    width:50px;
}


/*footer*/
footer{
    padding:10px;
    background: #f8842d;
    color:#fff;
    font-size: 20px;
    text-align: center;
}

/*media query*/
@media(max-width:650px){
    #boxes .container
   
    {  
        display:block;
    }
    #boxes .box img{
        width:90px; 
    }
    #boxes .box{
        width:100%;
    }
    #subscribe-us form{
        float:none;
       
    }
    #subscribe-us form input[type="email"]{
        width:100%;
    }
    #subscribe-us form input[type="button"]{
        width:100%;
        margin-top:10px;
        
    }
    #subscribe-us h1{
        float:none;
        text-align: center;
        margin-bottom:10px;
    }
    

    header{
        padding-bottom: 10px;
    }
    header #logo,
  header nav,
    header nav li{
        float:none;
        text-align: center;
        width:100%;
    }
    #banner h1{
        font-size: 40px;
       margin-top:30px;
    }
    #banner p{
        font-size:20px;
        margin-bottom: 40px;
    }
}